* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 14px/1.5em 'Arial', sans-serif;
}

.clearfix, .container, .row, .column {
    overflow: auto;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.row {
    margin: 20px 0;
}

.column-third {
    float:left;
    width: 33.33%;
}

.column {
    padding: 0 15px;
}

.column:first-child {
    padding-left: 0;
}

.column:last-child {
    padding-right: 0;
}

.top {
    background: #333333;
    color:#ffffff;
    line-height: 50px;
}

.top h1 {
    margin: 0;
    float:left;
}

.top a {
    color: inherit;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent;
    transition: border 0.3s;
}

.top a:hover {
    border-color: #ffffff;
}

.top ul {
    float: left;
    margin: 0 0 0 30px;
    list-style: none;
    padding: 0;
}

.top ul li {
    float:left;
    margin: 0 10px;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}